body
{
  margin: 20px;
  padding: 0;
  color: #555;
  font: normal 10pt Arial,Helvetica,sans-serif;
  background: #ffffff;
}

h1
{
  font-size: 2em;
}
td
{
  padding-left: 5px;
  padding-right: 5px;
}
.currency
{
  text-align: right;
  /*padding-left: 30px;*/
}
.journaldescription
{
  font-style: italic;
}
.firstjournalentryrow
{
  border-top-style: solid;
  border-top-width: 1px;
}
.lastjournalentryrow
{
  border-bottom-style: double;
  border-bottom-width: 3px;
}
.warning
{
  color: orange;
}

div.statementtable
{
  /* background-color: yellow; */
}

div.statementtable table td
{
  color: black;
  border-bottom-style: dotted;
  border-width: 1px;
}

div.statementtable table td.empty
{
  color: black;
  border-style: none;
  background-color: white;
}

div.statementtable table td.secondtolast
{
  border-top-style: solid;
  border-top-width: 1px;
}

div.statementtable table tr.level1
{
  background-color: black; /*#d7d7d7;*/
}

div.statementtable table tr.level1 td
{
  color: white;
}

div.statementtable table tr.level1 td a
{
  color: white;
}

div.statementtable table tr.level2
{
  background-color: #f0f0f0;
}

div.statementtable table tr.level3
{
  background-color: #f7f7f7;
}

div.statementtable table tr.level4
{
  color: blue;
  background-color: #ffffff;
}

div.statementtable table tr.level5
{
  color: #999999;
  background-color: #ffffff;
}

div.statementtable table tr.level6
{
  background-color: #ffffff;
}

div.statementtable table tr.aggregate
{
  background-color: #D6D6D6;
}

div.statementtable table td.heading
{
  text-align: center;
  font-weight: bold;
  color: #555555;
}



span.positiveamount
{
}

span.negativeamount
{
  color: red;
}

span.accountname_normal
{
}

span.accountname_indented
{
  padding-left: 20px;
}

tr.excluded
{
  color: #888888;
  text-decoration:line-through;
}

a.hiddenlink
{
  text-decoration: none;
  color: #555;
}
a.hiddenlink:hover
{
  text-decoration: underline;
  color: blue;
}

.withcaption
{
  margin-bottom: 0px;
}

.withnocaption
{
}

.caption
{
  margin-bottom: 0.75em;
}

tfoot
{
  font-style: italic;
}

td.accountname
{
  width: 400px;
}

td.currency
{
  width: 150px;
}

table.slideshow.journalentry
{ 
  table-layout: fixed;
  width: 550px;
}

table.slideshow.analysis
{
  padding-top: 50px;
  table-layout: fixed;
  font-size: 0.7em;
}
